@model AppTel.Web.Models.PingScheduleViewModel
@{
    ViewBag.Title = "Ping Schedule";
}
<h2>Ping Schedule</h2>
@Html.ActionLink("Create Job", "Create", "PingSchedule", null, new {@class="btn btn-primary"})
<div id="schedule">
    @Html.Partial("_ScheduleTable", Model)
</div>