@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <div class="appbox">
            <h2>Application 1</h2>            
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Details &raquo;</a></p>    
        </div>        
    </div>
    <div class="col-md-3">
        <div class="appbox">
            <h2>Application 1</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Details &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="appbox">
            <h2>Application 1</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Details &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="appbox">
            <h2>Application 1</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Details &raquo;</a></p>
        </div>
    </div>
</div>